<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ADALServiceURL" value="https://login.microsoftonline.com" />     <!-- Service root URL for Azure AD instance WITH NO TRAILING SLASH! -->
    <add key="ADALRedirectURL" value="https://localhost/" />                   <!-- Redirect URL for Azure AD to use which MUST MATCH YOUR AAD APP CONFIGURATION! -->
    <add key="ARMBillingServiceURL" value="https://management.azure.com" />    <!-- Service root URL for ARM/Billing service WITH NO TRAILING SLASH!  -->
    <add key="TenantDomain" value="capindex.onmicrosoft.com" />                <!-- DNS name for your Azure AD tenant, ie: contoso.onmicrosoft.com -->
    <add key="SubscriptionID" value="15f906ff-eeb5-4018-9fa2-27195739e552" />  <!-- GUID of Azure Subscription that is trusting AAD tenant specified above -->
    <add key="ClientId" value="1d78b28e-8fb6-48cb-9ab4-c6aae3aae7e4" />        <!-- GUID for AAD application configured as Native Client App in AAD tenant specified above -->
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

<!--
SubscriptionName : Pay-As-You-Go
SubscriptionId   : 15f906ff-eeb5-4018-9fa2-27195739e552
TenantId         : 8426077d-5e5a-4209-aae3-18fbfbe2d7a2
State            : Enabled

SubscriptionName : Free Trial
SubscriptionId   : 0c4676ed-b4a5-4810-afbb-7bf4911ed580
TenantId         : 8426077d-5e5a-4209-aae3-18fbfbe2d7a2
State            : Disabled
-->
